.tab-item-container {
  list-style-type: none;
}
.tab-button {
  font-family: 'Roboto';
  color: orangered;
  font-size: 17px;
  border: 2px solid orangered;
  font-weight: 500;
  padding: 7px 20px 7px 20px;
  margin-right: 40px;
  background-color: transparent;
  width: 170px;
  border-radius: 5px;
  opacity: 0.8;
}
@media (min-width: 768px) and (max-width: 991px) {
  .tab-button {
    padding: 7px 15px 7px 15px;
    margin-right: 20px;
  }
}
.select {
  background-color: orangered;
  color: rgb(15, 19, 68);
  opacity: 0.8;
}
