* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-box-container {
  display: flex;
}
.search-input {
  padding: 10px 10px 10px 20px;
  border: 1px solid gainsboro;
  font-family: 'Roboto';
  color: lightslategray;
  font-size: 15px;
  width: 500px;
  outline: none;
  background-color: #efefef;
}
.search-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  outline: none;
  background-color: orangered;
  opacity: 0.8;
  border-width: 0px;
}
.tab-list-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.current-state-container {
  background-color: #efefef;
  width: 30%;
  align-self: flex-start;
  padding: 10px 10px 10px 20px;
  border: 1px solid gainsboro;
  margin-top: 20px;
}
.content-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-container {
    width: 80%;
  }
}
.hr-line {
  width: 100%;
  height: 2px;
  background-color: orangered;
  border-width: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.active-state {
  font-family: 'Roboto';
  color: orangered;
  font-size: 17px;
  font-weight: 500;
  margin: 0px;
}
.shimmer-spinner-container {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.shimmer-spinner {
  width: 50px;
  height: 50px;
  background: linear-gradient(
    -45deg,
    orangered 25%,
    #d9534f 50%,
    orangered 75%
  );
  background-size: 400% 100%;
  animation: shimmer 1.5s linear infinite;
  border-radius: 50%;
}

@keyframes shimmer {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.pagination-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.active-btn {
  background-color: orangered;
  border-width: 0px;
  border-radius: 5px;
  padding: 7px 20px 7px 20px;
  outline: none;
  font-family: 'Roboto';
  color: rgb(15, 19, 68);
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}
.static-btn {
  background-color: orangered;
  border-width: 0px;
  border-radius: 5px;
  padding: 7px 20px 7px 20px;
  outline: none;
  font-family: 'Roboto';
  color: rgb(15, 19, 68);
  font-size: 15px;
  font-weight: bold;
  opacity: 0.5;
  margin-left: 10px;
  margin-right: 10px;
}
