* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-box-container {
  display: flex;
}
.search-input {
  padding: 10px 10px 10px 20px;
  border: 1px solid gainsboro;
  font-family: 'Roboto';
  color: lightslategray;
  font-size: 15px;
  width: 500px;
  outline: none;
  background-color: #efefef;
}
.search-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: none;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  outline: none;
  background-color: orangered;
  opacity: 0.8;
}
.tab-list-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
